header {
    color: #343e5c;
    background: white;
}
header .logo {
    width: 10%;
}

header .logo a {
    background-image: url(../images/logo.png);
    display: inline-block;
    background-size: contain;
    background-repeat: no-repeat;
    width: 100%;
    height: 20px;
    text-decoration: none;
}

header ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

header ul li {
    float: left;
}

header ul li a {
    text-decoration: none;
    color: inherit;
    padding: 0 10px;
    font-size: 14px;
    font-weight: 600;
}

header .drop-list-btn {
    border-right: 1px solid #f0f2f7;
}

header .drop-list-btn,
header .logo,
header .menu,
header .user-actions
{
    padding: 33px 30px;
}

header .menu {
    padding-left: 110px;
}

header .user-actions {
    padding-bottom: 0;
}

header .cart {
    margin-right: 30px;
}

header .cart .fa {
    font-size: 18px;
    position: relative;
    top: 2px;
}

header .cart .text {
    text-transform: uppercase;
    font-size: 11px;
    font-weight: 600;
    padding: 0 3px;
}

header .cart .count {
    font-size: 12px;
    background: #e3e8f0;
    border-radius: 50%;
    height: 20px;
    width: 20px;
    display: inline-block;
    text-align: center;
    padding-top: 2px;
}

.menu-wrapper {
    border-bottom: 1px solid #f0f2f7;
}