.breadcrumb {
    margin: 40px 0 20px;
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.3);
}

.breadcrumb .search-group {
    padding: 15px 5px 0;
    height: 62px;
}

.breadcrumb .search-group:first-child {
    border-right: 2px solid #f2f2f2;
}

.breadcrumb .search-group:last-child {
    border-left: 2px solid #f2f2f2;
}

.breadcrumb .field {
    float: left;
    padding: 0 25px;
}

.breadcrumb label {
    color: #a1a8bd;
    font-size: 12px;
    text-transform: uppercase;
    line-height: 28px;
    margin-right: 5px;
}

.breadcrumb .field input[type='text'],
.breadcrumb .field input[type='number'],
.breadcrumb .field input[type='search'] {
    background: #f0f2f7;
    border: 1px solid #e3e8f0;
    border-radius: 18px;
    padding: 6px 8px 7px;
    width: 170px;
}

.breadcrumb .field input[type='number'] {
    width: 70px;
}

.breadcrumb .checkbox .check-icon {
    color: #00e2aa;
}

.breadcrumb .checkbox span.text {
    text-transform: none;
    color: #333;
    font-size: 14px;
}

.breadcrumb select {
    text-transform: uppercase;
    border: none;
    font-size: 12px;
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 120px;
    margin-left: 5px;
    padding: 8px 0 8px 5px;
}

.breadcrumb select::-ms-expand {
    display: none;
}

.breadcrumb .field.select {
    position: relative;
}

.breadcrumb .field.select i {
    position: absolute;
    right: 25px;
    top: 50%;
    font-size: 12px;
    margin-top: -6px;
    color: #c2c5ce;
}

.search-results .sideBar {
    width: 21.3%;
}

.search-results .sideBar .filters {
    background: white;
    border-radius: 8px;
    box-shadow: 0 0 8px -4px rgba(0, 0, 0, 0.3);
    margin-bottom: 20px;
    overflow: hidden;
}

.search-results .filter-title,
.search-results .accordion .title {
    cursor: pointer;
    border-bottom: 1px solid #f0f2f7;
    padding: 12px 18px;
    font-size: 13px;
    color: #343e5c;
    font-weight: 700;
}

.search-results .filter .filter-content {
    border-bottom: 1px solid #f0f2f7;
    padding-bottom: 10px;
}

.search-results .filter:last-child .filter-content {
    border-bottom: none;
}

.search-results .accordion .title i {
    float: right;
    margin-top: 2px;
}

.search-results .accordion-body ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

.search-results .accordion-body ul a {
    display: block;
    background: #f0f2f7;
    color: #a1a8bd;
    text-decoration: none;
    font-size: 11px;
    text-transform: uppercase;
    border-bottom: 1px solid #dfe4ee;
    padding: 13px 19px;
}

.search-results .filter-title {
    text-transform: uppercase;
    font-size: 12px;
}

.search-results .filter-title a {
    float: right;
    color: #2754eb;
}

.search-results .radio_input,
.search-results .checkbox_input {
    font-size: 13px;
    color: #343e5c;
    font-weight: 700;
    padding: 11px 19px;
}

.search-results .radio_input.width_50 {
    width: 50%;
    float: left;
    border-right: 1px solid #f0f2f7;
}

.search-results .radio_input.width_50:last-child {
    border-right: none;
}

.search-results .checkbox .icon {
    border: 2px solid #e4e8f0;
    background: transparent;
    border-radius: 5px;
    font-size: 14px;
    width: 18px;
    height: 18px;
    padding: 0;
    text-align: center;
    line-height: 14px;
}

.search-results .checkbox .icon i {
    font-size: 12px;
}

.search-results .checkbox.checked .icon {
    background: #00e2aa;
    border-color: #00e2aa;
}
.search-results .filter .count {
    float: right;
    font-size: 12px;
    color: #b8bfd3;
}

.search-results .radio_input label {
    display: block;
}